.image{
  box-shadow:0 4px 8px #ccc;
}
.nameContainer{
  margin:19px 0 10px;
  padding:0;
  justify-content:flex-start;
}
.productNameContainer{
  text-align:left;
}
.productBrand{
  font-size:16px;
  line-height:25px;
  color:#3A3434;
  height:50px;
  display:block;
  overflow:hidden;
}
.element:hover :global(.vtex-stack-layout-0-x-stackItem--add-to-cart-summary){
  display:block;
}
.SKUSelectorContainer{
  margin-bottom:5px;
}
.hoverImage{
  z-index:9;
}

/* MOBILE */
@media screen and (max-width: 1024px){
  .element{
    padding:0;
  }
  .productNameContainer{
    text-align:center;
  }
  .nameContainer{
    margin:7px 0 12px;
    justify-content: center;
  }
  .productBrand{
    font-size:15px;
  }
  .element :global(.vtex-stack-layout-0-x-stackItem--add-to-cart-summary){
    display:block;
  }
}