/* TOPO */
.paragraph--notification{
  color:#000;
  font-size:12px;
  margin:0;
  line-height:1;
}

.container--shelfTitle {
  justify-content: center;
  text-align: center;
}
.headingLevel2--shelfTitle {
  font-size:28px;
  font-weight:400;
  color:#3A3434;
  margin:18px 0 24px;
}

/* INSTITUCIONAIS */
/* QUEM SOMOS */
.heading--titulo-institucionais{
  color: #3A3434;
  font-size:28px;
  font-weight:400;
  margin:0 0 25px;
}
.paragraph--conteudo-institucionais{
  font-size:15px;
  color: #3A3434;
  margin:0;
}

/* RODAPÉ */
.container--title-newsletter{
  justify-content:center;
}
.heading--title-newsletter{
  margin: 0 0 35px;
  font-size:25px;
  color:#fff;
}
.container--credits{
  justify-content:center;
}
.paragraph--credits{
  margin:9px 0 13px;
  color:#7B7979;
  font-size:12px;
}
.paragraph--title-footer{
  margin:0 0 14px;
  color:#3A3434;
  font:14px "Amiko Semibold";
  text-transform:uppercase;
}

/* PLP */
.container--notfound{
  justify-content:center;
}
.paragraph--notfound{
  font-size:28px;
  font-weight:400;
  color:#3A3434;
  margin:18px 0 24px;
}

/* PDP */
.paragraph--product-description{
  margin:0;
  color:#3A3434;
  font-size:13px;
  text-transform:uppercase;
}
.paragraph--guia-de-medidas{
  margin:10px 0 20px;
  font-size:13px;
  color:#3A3434;
  text-transform:uppercase;
  display:flex;
  align-items:center;
  gap:10px;
  cursor:pointer;
}
.container--produtos-relacionados{
  justify-content:center;
}
.paragraph--produtos-relacionados{
  margin:48px 0 27px;
  font-size:28px;
  color:#3A3434;
}

/* INSTITUCIONAIS */
.heading--titulo-menu-institucionais{
  margin:0 0 14px 25px;
  color:#fff;
  font-size:22px;
  font-weight:normal;
}
.wrapper--item-menu-institucionais{
  width:100%;
}
.paragraph--item-menu-institucionais{
  margin:0;
}
.link--item-menu-institucionais{
  color:#fff;
  text-decoration:none;
  padding:15px 0 15px 22px;
  display:flex;
  align-items:center;
  gap:16px;
  margin:5px 0;
  border-left:5px solid transparent;
  font:13px "Amiko Semibold";
}
.link--item-menu-institucionais-active{
  background:#fff;
  color:#3A3434;
  box-shadow:0 4px 4px rgba(0,0,0,0.25);
  border-left-color:#FFDDDE;
}
.link--item-menu-institucionais::before{
  content:"";
  display:block;
  width:22px;
  height:18px;
}
.link--item-menu-institucionais-1::before{
  background:url(assets/icon-institucionais-1.png) no-repeat center transparent;
}
.link--item-menu-institucionais-2::before{
  background:url(assets/icon-institucionais-2.png) no-repeat center transparent;
}
.link--item-menu-institucionais-3::before{
  background:url(assets/icon-institucionais-3.png) no-repeat center transparent;
}
.link--item-menu-institucionais-4::before{
  background:url(assets/icon-institucionais-1.png) no-repeat center transparent;
}
.link--item-menu-institucionais-5::before{
  background:url(assets/icon-institucionais-2.png) no-repeat center transparent;
}
.link--item-menu-institucionais-6::before{
  background:url(assets/icon-institucionais-3.png) no-repeat center transparent;
}
.link--item-menu-institucionais-7::before{
  background:url(assets/icon-institucionais-4.png) no-repeat center transparent;
}

/* MOBILE */
@media screen and (max-width: 1024px){
  .headingLevel2--shelfTitle{
    font-size:20px;
    margin:16px 0 14px;
  }
  .heading--title-newsletter{
    margin: 0 0 32px;
    font-size:20px;
    text-align:center;
  }
  .paragraph--title-footer{
    font: 12px "Amiko Semibold";
    text-transform: uppercase;
    color: #3A3434;
    margin:0;
  }
  .paragraph--produtos-relacionados{
    margin:38px 0 14px;
    font-size:20px;
  }
}
