.closeIconContainer{
    display:none;
}
.openIconContainer{
    margin-right:10px;
}
.openIconContainer .menuIcon{
    width:29px;
    height:19px;
    overflow:visible;
}
.childrenContainer{
    padding:8px;
}