.stackItem--wishlist-shelf{
  left:auto;
  right:10px;
}
.stackItem--wishlist-shelf{
  z-index:99 !important;
}
.stackItem--add-to-cart-summary{
  top:auto;
  bottom:6px;
  width:100%;
  display:none;
  z-index:99 !important;
}